.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  margin-right: 10%;
  margin-bottom: 0.5em;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  
}

.row img {
  display:block;
  margin:auto;
  height: '150px';
}

.image {
  float: left;
  width: 40%;
  padding: 5px;
  position: deafult;
  left: 50%;
  text-align:right;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  /*display:flex;*/
  
  
  
}

.col1 {
  margin: auto;
  float: left;
  width: 5%;
  padding: 10px;
  margin-right: auto;
  margin-bottom: a0.5em;
  left: 50%;
  display: block;
  margin-left: 13%;
  
}










